/*______________famme.html */
.div1 img{
    width: 50px;
    height: 50px;
}
.div1{
    display: flex;
}
.div1 h6 ,.div11 button{
    margin-left: 10px;
} 
.div1 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div2 img{
    width: 50px;
    height: 50px;
}
.div2{
    display: flex;
}
.div2 h6 ,.div2 button{
    margin-left: 10px;
} 
.div2 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div3 img{
    width: 50px;
    height: 50px;
}
.div3{
    display: flex;
}
.div3 h6 ,.div3 button{
    margin-left: 10px;
} 
.div3 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div4 img{
    width: 50px;
    height: 50px;
}
.div4{
    display: flex;
}
.div4 h6 ,.div4 button{
    margin-left: 10px;
} 
.div4 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div5 img{
    width: 50px;
    height: 50px;
}
.div5{
    display: flex;
}
.div5 h6 ,.div5 button{
    margin-left: 10px;
} 
.div5 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div6 img{
    width: 50px;
    height: 50px;
}
.div6{
    display: flex;
}
.div6 h6 ,.div6 button{
    margin-left: 10px;
} 
.div6 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div7 img{
    width: 50px;
    height: 50px;
}
.div7{
    display: flex;
}
.div7 h6 ,.div7 button{
    margin-left: 10px;
} 
.div7 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div8 img{
    width: 50px;
    height: 50px;
}
.div8{
    display: flex;
}
.div8 h6 ,.div8 button{
    margin-left: 10px;
} 
.div8 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div9 img{
    width: 50px;
    height: 50px;
}
.div9{
    display: flex;
}
.div9 h6 ,.div9 button{
    margin-left: 10px;
} 
.div9 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}



















/*______________famme.html */
.div11 img{
    width: 50px;
    height: 50px;
}
.div11{
    display: flex;
}
.div11 h6 ,.div11 button{
    margin-left: 10px;
} 
.div11 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div12 img{
    width: 50px;
    height: 50px;
}
.div12{
    display: flex;
}
.div12 h6 ,.div12 button{
    margin-left: 10px;
} 
.div12 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div13 img{
    width: 50px;
    height: 50px;
}
.div13{
    display: flex;
}
.div13 h6 ,.div13 button{
    margin-left: 10px;
} 
.div13 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div14 img{
    width: 50px;
    height: 50px;
}
.div14{
    display: flex;
}
.div14 h6 ,.div14 button{
    margin-left: 10px;
} 
.div14 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div15 img{
    width: 50px;
    height: 50px;
}
.div15{
    display: flex;
}
.div15 h6 ,.div15 button{
    margin-left: 10px;
} 
.div15 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div16 img{
    width: 50px;
    height: 50px;
}
.div16{
    display: flex;
}
.div16 h6 ,.div16 button{
    margin-left: 10px;
} 
.div16 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div17 img{
    width: 50px;
    height: 50px;
}
.div17{
    display: flex;
}
.div17 h6 ,.div17 button{
    margin-left: 10px;
} 
.div17 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div18 img{
    width: 50px;
    height: 50px;
}
.div18{
    display: flex;
}
.div18 h6 ,.div18 button{
    margin-left: 10px;
} 
.div18 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
.div19 img{
    width: 50px;
    height: 50px;
}
.div19{
    display: flex;
}
.div19 h6 ,.div19 button{
    margin-left: 10px;
} 
.div19 button{
  width: 60px;
  height: 30px;
  background-color:transparent;
}
